* {
  box-sizing: border-box;
  text-align: center;
  min-width: 100px;
}

body {
  background-image: url(./images/mountains.jpg);
}

.signup-form {
  font-size: 23px;
  width: 270px;
  height: 220px;
  margin: 0 auto;
  padding: 35px;
  background-color: white;
  
}

h1 {
  margin-top: 60px;
  font-size: 40px;
  color:  yellow;
}

h2 {
  font-size: 40px;
  color: yellow;
}


.head, footer {
  padding: 1% 0;
  background-color: #aaa;
  font-weight: bold;
  font-size: 20px;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  
}

section {
  height: 100px;
  width: 600px;
  padding: 10px 20px;
  background-color: #bbb;
  font-size: 15px;
  margin: 0 auto;
  
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

button {
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 12px;
  font-weight: bold;
}

button:hover{
  background-color: green;
}

input {
  height: 20px;
  width: 150px;
}



